<a href="https://colab.research.google.com/github/BhagyashriAhirwar57/pratice/blob/main/List_comprehension%2Cdictionaries%2Cformat_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list comprehension
squares = []
for i in range(10):
  squares.append(i**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#modifying the code
#[operation iterable condition]
#iterable,condition,operation

newList = [i**2 for i in range(10)]
newList

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#nested list comprehension
matrix = [
    [10,20,30,40],
    [50,60,70,80],
    [90,100,110,120]
]

[[ row[i] for row in matrix] for i in range(4)]

[[10, 50, 90], [20, 60, 100], [30, 70, 110], [40, 80, 120]]

In [ ]:
#delete statements
list = ['ross','chandler','monica']
del list[2]
list

['ross', 'chandler']

Tuples and Sequences

In [ ]:
#tuple is unmutable-using round ()
#mainly used for collection of constants

t = ('ross','chandler','monica')
t

('ross', 'chandler', 'monica')

In [ ]:
t[1] = "rachel"
t

TypeError: ignored

In [ ]:
#supports multiple item assignments
name,age,grade = ('bhagyashri', 20, 'A')
print("Name: ", name,"Age: ",age,"Grade : ", grade)

Name:  bhagyashri Age:  20 Grade :  A

Sets-unordered collection which doesn't have duplicates

In [ ]:
#use is to eliminate duplicates
#uses curly braces
s= {"rosss","chandler","monica","rosss"}
s
#arranges in alphanumeric order

{'chandler', 'monica', 'rosss'}

In [ ]:
#comprehended sets
comprehendSet= {i*10 for i in range(10) if (i%2) == 0}
comprehendSet

{0, 20, 40, 60, 80}

Dictionaries
bigO is 1

In [ ]:
#{"key":"value"}
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
#loops on dictionaries
for index,value in thisdict.items():
  print("Index is", index, "and Value is ", value)

Index is brand and Value is  Ford
Index is model and Value is  Mustang
Index is year and Value is  1964

In [ ]:
#enumrate fun helps to return index and value associated to it
myList = [10,20,30,40,50]
for index,value in enumerate(myList):
  print(index, value)

0 10
1 20
2 30
3 40
4 50

In [ ]:
actors = ["salman","ranverr","shahid"]
actress = ["katrina","deepika", "kareena"]

for actor,actress in zip(actors,actress):
  print("The opposite actress of ",actor, "is", actress)

The opposite actress of  salman is katrina
The opposite actress of  ranverr is deepika
The opposite actress of  shahid is kareena

In [ ]:
#printing in reverse order
for actors in reversed(actors):
  print(actors)

shahid
ranverr
salman

Jupyter

In [ ]:
#comparing sequence

In [4]:
import notebooks_fibonacci

In [7]:
import fibonacci

In [13]:
import demo

0, 1, 1, 2, 3, 5, 8,

In [ ]:
import add

In [14]:
print(2+7)

9

In [15]:
dir(demo)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'fib']

Format output

In [16]:
name = "Bhagyashri"
surname = "Ahirwar"
print_statement = f"My name is {name} and surname is {surname}"
print(print_statement)

My name is Bhagyashri and surname is Ahirwar

In [17]:
#method 2
total = 1000;
name = "Ross"
"Subtotal of {} is {: }".format(name, total)

'Subtotal of Ross is  1000'

Reading and Writing files

In [18]:
with open("me.txt") as f:
  myfile = f.read()

print(myfile)

Hi,I am Bhagyashri

In [ ]:
#with free up resource after it reads the file

In [20]:
with open("me.txt", "w") as f:
  f.write("Hello user")

In [ ]:
#f.tell-gives file object current position in the file

In [22]:
#writing json data
import json
data = {"Name": "Bhagyashri", "Age": 20}
json.dumps(data)

'{"Name": "Bhagyashri", "Age": 20}'

Exception handling

In [23]:
try:
  name = ["bhagyashri", "ahirwar"]
  dividedbyzero =10/0
  for name in names:
    print(name)
except NameError as e:
  print("Please check name of the variable used")
except ZeroDivisionError as e:
  print("You divided the number by 0, not accepted")

You divided the number by 0, not accepted